body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand {
    font-weight: bold;
    color: #f39c12 !important;
    letter-spacing: 2px;
}
.card-custom {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}
.card-custom:hover {
    transform: translateY(-5px);
    border-color: #f39c12;
}
.btn-custom {
    background-color: #f39c12;
    color: #121212;
    font-weight: bold;
    border-radius: 25px;
}
.btn-custom:hover {
    background-color: #e67e22;
    color: #fff;
}
.text-color{
    color: #BF7315;
}